<h1 class="page-header"><%= @truck.name %></h1>

<% if !@truck.items.empty? %>
  <h2>Equipment on Truck</h2>
  <% @truck.items.each do |item| %>
    <p class="lead"><a href="/equipment/<%= item.id %>"><%= item.name %></a> - Value: $<%= item.value %></p>
  <% end %>
<% else %>
  <h2>This truck is empty</h2>
<% end %>
<div class="clearfix"></div>

<a href="/equipment/new" class="btn btn-default pull-left">Add Items</a>
<div class="pull-right">
<a href="<%= @truck.id %>/edit" class="btn btn-default">Edit</a>

<form class="pull-right" method="POST" action="/trucks/<%= @truck.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Truck" class="btn btn-default">
</form>
</div>