<h1>Edit Equipment</h1>
<form method="POST" action="/equipment/<%= @item.id %>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label>Name:</label>
  <input type="text" name="name" value="<%= @item.name %>">
  <label>Value:</label>
  <input type="number" name="value" value="<%= @item.value %>">
  <h2>Move item to different truck</h2>
  <label>Select Existing Truck:</label>
  <select name="truck">
    <option value="">No, I want to Create New Truck</option>
    <% current_user.trucks.each do |truck| %>
      <option value="<%= truck.name %>" <%= 'selected' if truck.id == @item.truck_id %>>   <%= truck.name %></option>
    <% end %>
  </select>
  <input type="submit" value="Submit">
</form>