<h1 class="page-header">Equipment<small> - <%= @user.items.size %> item<%= 's' if @user.items.size > 1 %></small></h1>

<div class="pull-right"><a href="/equipment/new" class="btn btn-default">Add</a></div>
 <div class="clearfix"></div>

<% @user.items.each do |item| %>
 <div class="col-md-6"><a href="/equipment/<%= item.id %>" class="btn btn-lg btn-default"><%= item.name %></a> <p>Value: $<%= item.value %></p></div>
<% end %>